window {
    margin: 0px;
    border: 4px solid #F5BDE6;
    background-color: #24273A;
    font-family: 'Jetbrains Mono Nerd Font';
    font-size: 20px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    color: #CAD3F5;
    background-color: #6E738D;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #24273A;
    border-radius: 0px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #24273A;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #CAD3F5;
} 

#entry:selected {
    background-color: #F5BDE6;
    border-radius: 20px;
    margin: 2px;
}

