window {
    margin: 0px;
    background-color: #2e3440;
    border-radius: 0px;
    border: 2px solid #89b4fa;
    color: #e0def4;
    font-family: 'Monofur Nerd Font';
    font-size: 20px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
    color: #89b4fa;
    background-color: #2e3440;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2e3440;
    color: #2e3440;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #2e3440;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #89b4fa;
    color: #2e3440;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #89b4fa;
    color: #2e3440;
    border-radius: 0px;;
    outline: none;
}
