[Desktop Entry]
Name=Uninstall
Exec=env WINEPREFIX="/home/karl/Games/watch-dogs" wine C:\\\\users\\\\karl\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Ubisoft\\\\Ubisoft\\ Connect\\\\Uninstall.lnk
Type=Application
StartupNotify=true
Path=/home/karl/Games/watch-dogs/dosdevices/c:/Program Files (x86)/Ubisoft/Ubisoft Game Launcher
Icon=283B_Uninstall.0
StartupWMClass=uninstall.exe
