[Desktop Entry]
Name=NieR Replicant ver.1.22474487139...
Comment=Play this game on Steam
Exec=steam steam://rungameid/1113560
Icon=steam_icon_1113560
Terminal=false
Type=Application
Categories=Game;
