#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Whatsapp
Exec=/snap/bin/whatsapp-app
Icon=whatsapp
StartupWMClass=crx_whatsapp
