#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Youtube
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app=https:/youtube.com
Icon=youtube
StartupWMClass=crx_youtube
