/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* ....Chroma Fusion .... */
/* Wallust - Catpuccin */

@define-color white      	#F2F2F2;
@define-color black      	#000000;
@define-color text       	#FFFFFF;
@define-color lightgray  	#686868;
@define-color darkgray   	#353535;

@define-color transparent	rgba(0, 0, 0, 0.25);
@define-color teal-trans	rgba(1, 117, 84, 0.5);
@define-color cyan			rgba(53, 140, 169, 1);

@define-color background-module     @transparent;
@define-color border-color          @color12;
@define-color button-color          @color11;
@define-color button-hover          @color12;

@import '../../.config/waybar/wallust/colors-waybar.css';
@import "../waybar/colors/catppuccin-themes/latte.css";

* {
	font-family: "JetBrains Mono Nerd Font";
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
	background: linear-gradient(0deg, @border-color, black);
	/*background: rgba(1, 117, 84, 0.5);*/
	/*background: @transparent;*/
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

tooltip {
	background-color: @background-module;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
	color: @color2;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-cycle_wall,
#custom-hint,
#custom-hypridle,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	background-color: @background-module;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
    opacity:0.8;
   	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}
#backlight {
	padding: 0px 2px 0px 6px;
}
#custom-power {
    color: red;
    padding: 0px 0px 0px 6px;
    opacity:1.0;
}
#custom-light_dark,
#custom-menu{
    color: @flamingo;
    padding: 0px 8px 0px 4px;
    opacity:1.0;
}

#mpris {
	color: @sapphire;
	padding-right: 0px;
}

#custom-swaync,
#custom-weather,
#custom-updater {
    color: @yellow;
}

#keyboard-state,
#clock {
	color: @sapphire;
}
#network,
#temperature {
    color: @rosewater;
}

#custom-hint,
#tray {
	color: aliceblue;
}

#taskbar,
#window {    
    color:#FFFFFF;
}

#bluetooth,
#custom-backlight,
#custom-cycle_wall,
#custom-keyboard,
#custom-light_dark {
    color: @lavender;
}

#custom-cava_mviz {
	color: @color2;
}

#custom-lock,
#custom-hypridle,
#idle_inhibitor {
    color: @teal;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
	font-size: 100%;
}

#workspaces {
    margin: 3px 3px 3px 3px;
    padding: 0px 1px;
    border-radius: 25px;
    font-weight: bold;
    font-style: normal;
    opacity:0.8;
    color:#FFFFFF;
    
}

#workspaces button {
    margin: 1px 1px;
    border-radius: 15px;
    border:0px;
    color: @color13;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    opacity:0.8;
}

#workspaces button.active {
    color: #FFFFFF;
    background: @button-color;
    border-radius: 15px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    opacity:1.0;
}

#workspaces button.empty {
    color: #FFFFFF;
    opacity:1.0;
}

#workspaces button:hover {
    color: #FFFFFF;
    background: @button-hover;
    border-radius: 15px;
    opacity:1.0;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#pulseaudio-slider,
#pulseaudio {
	color: @color13;
}

#pulseaudio.muted {
    color: red;
}

#memory {
	color: @sapphire;
}

#cpu {
	color: @mauve;
}

#battery {
	color: @rosewater;
}

#disk {
	color: @sky;
}

#temperature.critical {
    background-color: red;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#taskbar button.active {
    background-color: rgb(47, 46, 46);
	border-radius: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    padding-left: 3px;
    padding-right: 3px;
	border-radius: 15px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}
