/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* .........................................*/
/* .............Purpl..................... */
/* ...................,.................... */
/* --- 👍 designed by https://github.com/Krautt  👍 --- */

* {
	font-family: "JetBrains Mono Nerd Font";
	font-weight: bold;
	min-height: 0;		
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 99%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "../waybar/colors/dracula.css";

window#waybar {
	background: @base;
	color: @pink;
}

window#waybar.hidden {
	opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}

tooltip {
	background: #1e1e2e;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
	color: @mauve;
}

/*-----module groups----*/
.modules-right {
	border: 3px solid @surface1;
	border-radius: 100px 0px 0px 0px;
	background-color: @surface0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-center {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-left {
	/*background-color: #1e1e2e;*/
	border: 3px solid @surface2;
	border-radius: 0px 0px 100px 0px;
	background-color: @surface0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

#workspaces button {
	color: #6E6A86;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
	color: @base;
	border-radius: 20%;
	background-color: @overlay0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.visible {
    color: @rosewater;
}

#workspaces button.focused {
	color: #d8dee9;
}

#workspaces button.urgent {
	color: @red;
	border-radius: 10px;
}

#workspaces button:hover {
	color: @maroon;
    border-radius: 15px;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#language,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-hint,
#custom-hypridle,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-packages,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: 10px;
}

#temperature.critical {
	background-color: #ff0000;
}

@keyframes blink {
	to {
		color: #000000;
	}
}




#language {
	font-size: 16px;
	margin-top: -20px;
	margin-bottom: -20px;
	color: @teal;
}

#pulseaudio,
#pulseaudio-slider {
	color: @blue;

}

#temperature {
	color: @red;
}

#cpu {
	color: @yellow;
}

#disk  {
	color: @sapphire;

}

#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	color: @flamingo;
}

#custom-packages,
#custom-updater {
	color: @lavender;
}

#custom-menu {
	font-size: 30px;
	border-radius: 0px 100px 0px 0px;
	margin-top: -15px;
	margin-bottom: -15px;
	padding: 10px;
	margin-left: -10px;
	border: 3px solid @surface2;
	background-color: @crust;
	padding-right: 15px;

}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: @green;
	font-size: 100%;
}

#taskbar button.active {
	background-color: purple;
    padding-left: 12px;
    padding-right: 12px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #6E6A86;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: purple;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: #6E6A86;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: purple;
}
