@import "colors/iceberg.css";

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  font-weight: 700;
  padding-bottom: 0px;
}

tooltip {
  background: @bg;
  border: 2px solid @border;
}

#window {
        margin: 8px 5px 8px 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid @bg;
	border-right: 2px solid @bg;
	border-radius: 20px;
	border-color: @bg;
	background-color: @lavender;
	color: @bg;
}

window#waybar.empty #window {
	background-color: transparent;
	border-bottom: none;
	border-right: none;
}

window#waybar {
  background-color: transparent;
  color: @lavender;
}

/* Workspaces */
@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces {
  margin: 8px 5px 4px 5px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid @sky;
  margin-left: 20px;
  background-color: @bg-hover;
  color: @bg;
}

#workspaces button {
  margin: 5px 2px 5px 2px;
  padding-left: 3px;
  padding-right: 9px;
  background-color: @bg-hover;
  color: @fg;
}

#workspaces button.active {
    background-color:@sky;
    color: @bg;
    /*color: @bg;*/

}

#workspaces button.urgent {
	color: #F38BA8;
}

#workspaces button:hover {
  border: solid transparent;
}

#custom-gpu-util {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}

#tray {
  margin: 8px 5px 4px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid @lavender;
  background-color: @bg;
  color: @fg; 
}

#idle_inhibitor {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 3px;
  background-color: @bg;
  color: @fg;
}

#network {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

#network.linked {
  color: @peach;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#custom-subs {
	color: @fg;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 3px;
	border-bottom: 2px solid @bg;
	border-right: 2px solid @bg;
    border-color: @lbg;
    background-color: @red;
}

#custom-cliphist {
	color: @peach;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 3px;
    background-color: @bg;

}

#custom-gpu-temp,
#cpu,
#memory,
#custom-clipboard,
#custom-menu,
#idle_inhibitor,
#temperature {
  margin: 8px 5px 8px 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg;
}


#language,
#idle_inhibitor,
#pulseaudio, 
#cpu,
#memory,
#clock,
#temperature,
#custom-menu,
#workspaces,
#tray {
  border-radius: 20px;
}

#temperature {
  color: @blue;
  border-bottom: 3px solid @blue;
}

#cpu {
  color: @green;
  border-bottom: 3px solid @green;
}

#memory {
  color: @yellow;
  border-bottom: 3px solid @yellow;

}


#language {
  margin: 8px 5px 4px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid @pink;
  color: @pink;
  background-color: @bg;
}

#custom-playerctl {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: @fg;
  background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
  margin: 8px 5px 4px 5px;
  color: @fg;
  background-color: @bg;
  border-bottom: 3px solid @lavender;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

#battery,
#bluetooth {
	margin-left: 0px;
	padding-left: 7.5px;
	padding-right: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#backlight,
#pulseaudio {
	margin-right: 0px;
	margin-left: 5px;
	padding-left: 10px;
  	padding-right: 7.5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#clock {
  margin: 8px 5px 4px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid @green;
  color: @green;
  background-color: @bg;
}

#taskbar {
    border-radius: 0px 8px 8px 0;
    padding: 0 3px;
    margin: 0 0px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.3);
}
#taskbar button {
    border-radius: 3px 3px 3px 3px;
    padding: 0 0 0 3px;
    margin: 3px 1;
    color: #ffffff;
    background-color: rgba(120,118,117,0.1);
}
#taskbar button.active {
    background-color: rgba(120,118,117,0.8);
}

#mode {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: @bg;
  color: @peach;
}
