
* {
    border: none;
    border-radius: 2;
    font-family: JetBrains Mono Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;

}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;

}

tooltip {
    background: #161821;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #161821;
}

#workspaces button {
    padding: 4px;
    color: #5C6370;
    margin-right: 0px;

}

#workspaces button.active {
    color: #161821;
    background: #161821;
    color: #B48EAD;
    border-radius: 15px 15px 15px 15px;
}

#workspaces button.focused {
    color: #d8dee9;
    background: #eba0ac;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #161821;
    background: #E98989;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #B48EAD;
    color: #161821;
    border-radius: 15px 15px 15px 15px;
}

#language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#cpu,
#memory,
#pulseaudio,
#temperature,
#workspaces,
#tray,
#backlight {
    background: #161821;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #161821;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
    border-color: #84A0C6;
}

#workspaces {
    background: #161821;
    border-color: #84A0C6;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}


#language {
    color: #91ACD1;
    border-left: 0px;
    border-right: 0px;
    border-color: #84A0C6;
}

#custom-updates {
    color: #84A0C6;
    border-radius: 10px 0px 0px 10px;
    border-color: #84A0C6;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border-color: #84A0C6;
}

#cpu {
    color: #E27878;
    border-radius: 10px 0px 0px 10px;
    margin-left: 15px;
    border-right: 0px;
    background: #161821;
    border-color: #84A0C6;
    }

#memory {
    color: #E27878;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    margin-left: 0px;
    background: #161821;
    border-color: #84A0C6;
    }

#clock {
    color: #89B8C2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    background: #161821;
    border-color: #84A0C6;
}


#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#temperature {
    color: #E98989;
    border-left: 0px;
    border-right: 0px;
    border-color: #84A0C6;
}

#pulseaudio {
    color: #B48EAD;
    border-left: 0px;
    border-right: 0px;
    border-color: #84A0C6;
}

#pulseaudio.microphone {
    color: #A093C7;
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
    border-color: #84A0C6;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    color: #E9B189;
    border-color: #84A0C6;

}



