@define-color bg-hover #f28668;
@define-color lbg #2E3440;
@define-color bg #2E3440;
@define-color blue #73b8ff;
@define-color sky #95e6cb;
@define-color red #f07178;
@define-color pink #f28779;
@define-color lavender #d2a6ff;
@define-color rosewater #f07178;
@define-color flamingo #b48ead;
@define-color fg #D8DEE9;
@define-color green #7fd962;
@define-color active-green #aad94c;
@define-color dark-fg #787bb0;
@define-color peach #f2966b;
@define-color border @lavender;
@define-color gray2 #D8DEE9;
@define-color black4 #2E3440;
@define-color black3 #2E3440;
@define-color maroon #d95757;
@define-color yellow #81A1C1;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13pt;
  font-weight: 700;
  padding-bottom: 0px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

#window {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 7px;
  border-radius: 7px;
  border-bottom: 4px solid @bg;
  border-right: 2px solid @bg;
  background-color: @yellow;
  color: @bg;
}

window#waybar.empty #window {
  background-color: transparent;
  border-bottom: none;
  border-right: none;
}

window#waybar {
  background-color:transparent;
  color: @lavender;
}

/* Workspaces */
@keyframes button_activate {
  from { opacity: .3 }
  to { opacity: 1.; }
}

#workspaces {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 1px;
  border-bottom: 4px solid @fg;
  background-color: @bg;
  color: @bg;
}

#workspaces button {
  margin: 5px 2px 5px 2px;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 5px;
  background-color: @bg;
  color: @fg;
}

#workspaces button.active {
  background-color:@yellow;
  color: @bg;
  /*color: @bg;*/

}

#workspaces button.urgent {
  color: #F38BA8;
}

#workspaces button:hover {
  border: solid transparent;
}

#custom-gpu-util {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}

#tray {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid @dark-fg;
  background-color: @bg;
  color: @fg; 
}

#language {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @bg;
  border-bottom: 4px solid @bg;
  background-color: @flamingo;
  color: @bg; 
}

#custom-weather {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid @sky;
  background-color: @bg;
  color: @fg; 
}


#custom-updates {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid @maroon;
  background-color: @bg;
  color: @fg;
}

#idle_inhibitor {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}


#network {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

#network.linked {
  color: @peach;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#custom-subs {
  color: @bg;
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @rosewater;
}

#custom-kernel {
  color: @bg;
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  border: 2px solid @bg;
  border-bottom: 4px solid @bg;
  background-color: @yellow;
}


#custom-cliphist {
  color: @peach;
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;

}

#custom-gpu-temp,
#cpu,
#memory,
#custom-clipboard,
#temperature {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#cpu {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 15px;
  border-bottom: 4px solid @lavender;
}

#temperature {
  border-bottom: 4px solid @maroon;
}

#memory {
  margin-left: -8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 15px;
  border-bottom: 4px solid @lavender;
}

#custom-playerctl {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
  margin-top: 5px;
  margin-bottom: 2px;
  color: @fg;
  background-color: @bg;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom: 4px solid @sky;
}

#battery,
#bluetooth {
  margin-left: 0px;
  margin-right: 5px;
  padding-left: 7.5px;
  padding-right: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#backlight,
#pulseaudio {
  margin-right: 0px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 7.5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#clock {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border-bottom: 4px solid @fg;
  color: @fg;
  background-color: @bg;
}

#mode {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @peach;
}
